﻿<!DOCTYPE html>
<html lang="pt-br" ng-app="SistemaCondominioModule">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login SGCC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="Admin/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="Admin/assets/plugins/select2/select2-metronic.css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="Admin/assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="Admin/assets/css/pages/login-soft.css" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="admin/assets/toast/content/toastr.min.css" rel="stylesheet" />
    <!-- END THEME STYLES -->
</head>
<body class="login">
    <div class="logo">
        <a href="#">
            <img src="admin/assets/img/logoatual.png" alt="" style="width:130px;height:80px;" />
            <br /><span style="color:black; font-size:18px;border:dashed;background-color: rgba(255, 255, 255, 0.7);">Sistema de Gerenciamento de Condomínio</span>
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" ng-controller="LoginController" ng-submit="submit()">
            <h3 class="form-title">Efetuar Login:</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultado">
                    Campos Obrigatórios não Preenchidos.
                </span>
            </div>
            <div class="alert alert-warning display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultado2">
                    Não foi possivel efetuar login. Verifique se os dados estão corretos
                </span>
            </div>
            <div class="alert alert-info display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultado3">
                    Não foi possivel efetuar login. Verifique o codigo da empresa
                </span>
            </div>
            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultado4">
                    Login efetuado, aguarde...
                </span>
            </div>
            <div class="alert alert-link display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultadoerro" style="color:white !important;">
                </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Empresa</label>
                <div class="input-icon">
                    <i class="fa fa-home"></i>
                    <input class="form-control placeholder-no-fix" type="text" ng-model="login.empresa" id="txtcodigocondominio" placeholder="Empresa" name="Empresa" required />
                </div>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" ng-model="login.email" id="txtusuario" placeholder="Usúario" name="username" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>

                    <input class="form-control placeholder-no-fix" type="password" ng-model="login.password" id="txtsenha" placeholder="Senha" name="password" required />
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <input type="checkbox" name="remember" value="1" />
                    Relembra-me
                </label>
                <button type="submit" class="btn blue pull-right">
                    Login <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            <div class="forget-password">
                <h4>Esqueceu a Senha ?</h4>
                <p>

                    <a href="javascript:;" style="color:white !important;" id="forget-password">
                        Clique aqui
                    </a>
                    para receber uma nova senha.
                </p>
            </div>
            <div class="create-account">
                <p>
                    Não possuir uma conta?&nbsp;
                    <a href="#" id="register-btns" style="color:white !important;">
                        adquira agora!
                    </a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="" method="post">
            <h3>Esqueceu a Senha ?</h3>
            <p>
                Entre com código da empresa e email para receber uma nova senha.
            </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-home"></i>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="Empresa" name="Empresa" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                    <i class="m-icon-swapleft"></i>Voltar
                </button>
                <button type="submit" class="btn blue pull-right">
                    Enviar <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <!-- END REGISTRATION FORM -->
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        <span style="color:black;background-color: rgba(255, 255, 255, 0.7);"> 2014 &copy;SGCC - Sistema de Gerenciamento de Condomínio.</span>
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>
    <script src="assets/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="admin/assets/plugins/angularjs/angular.min.js"></script>
    <script src="admin/assets/plugins/angularjs/angular-route.min.js"></script>
    <script src="admin/app/AppSistema.js"></script>
    <script src="admin/app/Configuracao.js"></script>
    <script src="admin/app/Factores/account-factory.js"></script>
    <script src="admin/app/Controles/Login/login-controller.js"></script>
    <script src="admin/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="admin/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="admin/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="admin/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="admin/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="admin/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="admin/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="admin/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="admin/assets/toast/scripts/toastr.min.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="admin/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="admin/assets/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="admin/assets/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="admin/assets/scripts/core/app.js" type="text/javascript"></script>
    <script src="admin/assets/scripts/core/Login/login.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
           App.init();
           Login.init();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
</html>
