﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="SistemaCondominioModule">
<head>
    <meta charset="utf-8" />
    <title>SGCC Sistema de Gerenciamento de Condomínio</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- INICIO ESTILOS OBRIGATÓRIOS Global -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/fonts/style.css" type="text/css">
    <!-- FIM ESTILOS OBRIGATÓRIOS Global -->
    <!-- INICIO ESTILO DE THEMA -->
    <link href="assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="assets//plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/plugins/css3-animation/animations.css">
    <link href="assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-tags-input/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/typeahead/typeahead.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-tags-input/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link href="assets/css/pages/login-soft.css" rel="stylesheet" type="text/css" />
    <link href="assets/toast/content/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/select2/select2-metronic.css" />

    <!-- FIM ESTILO DE THEMA -->
    <link rel="shortcut icon" href="favicon.ico" />

</head>
<!-- FIM HEAD -->
<body class="page-header-fixed" ng-show="{{user}}">
    <!-- INICIO HEADER -->
    <div class="header navbar navbar-fixed-top">
        <!-- INIO TOP NAVIGATION BAR -->
        <div class="header-inner">
            <div id="LOAD_CARREGANDO">
                <img src="assets/img/load.GIF" id="imgcarregando" style="display: block; margin-top: -50px; margin-left: -50px; left: 50%; top: 50%; position: fixed; height: 147px; width: 138px;" title="Aguarde Carregando" />
                <span class="label label-danger" id="carregando" style="display: block; margin-top: -86px; margin-left: -50px; left: 50%; top: 50%; position: fixed; font-size: 17px;"><i class="clip-add"></i>AGUARDE</span>
            </div>
            <!-- INICIO LOGO -->
            <a class="navbar-brand" href="#">
                <img src="assets/img/logo.png" alt="logo" class="img-responsive" />
            </a>
            <!-- FIM LOGO -->
            <!-- INICIO RESPONSIVO MENU TOGGLER -->
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="assets/img/menu-toggler.png" alt="" />
            </a>
            <!-- FIM RESPONSIVE MENU TOGGLER -->
            <!-- INICIO TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <!-- INIO NOTIFICATION DROPDOWN -->
                <li class="dropdown" id="header_notification_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-warning"></i>
                        <span id="spanQuantidadeNotificacaoBadge" class="badge"></span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <li>
                            <p>Você tem <span id="spanQuantidadeNotificacao"></span>&nbsp;notificação </p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" id="NotificaoUsuarioTop" style="height: 250px;">
                                <!--<%notificacao();%>-->
                            </ul>
                        </li>
                        <li class="external">
                            <a href="#">
                                Ver todas notificação <i class="m-icon-swapright"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- FIM NOTIFICAÇÃO DROPDOWN -->
                <!-- INICIO MESSAGE DROPDOWN -->
                <li class="dropdown" id="header_inbox_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-envelope"></i>
                        <span class="badge">
                            0
                        </span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <li>
                            <p>
                                You have 12 new messages
                            </p>
                        </li>
                        <li><div ng-include="'Pages/mensagens.html'"></div></li>
                    </ul>
                </li>
                <!-- FIM MENSSAGE DROPDOWN -->
                <!-- INICIO TASK DROPDOWN -->
                <li class="dropdown" id="header_task_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-tasks"></i>
                        <span class="badge">
                            0
                        </span>
                    </a>
                    <ul class="dropdown-menu extended tasks">
                        <li><div ng-include="'Pages/task.html'"></div></li>

                        <li class="external">
                            <a href="#">
                                See all tasks <i class="m-icon-swapright"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- FIM TASK DROPDOWN -->
                <!-- INICIO USUARIO LOGIN DROPDOWN -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" id="imgUserLogado" style="margin: -13px 10px -14px 10px; height: 30px; width: 30px; -webkit-border-radius: 50em; -moz-border-radius: 50em; border-radius: 50em;" src="#" />
                        <span id="username" class="username">{{user}}</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-user"></i>Meu perfil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar"></i>Calendário</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="clip-bubble-4"></i>Menssagens
                                <span class="badge badge-danger">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa  fa-bullhorn"></i>Relatar problemas </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;" id="trigger_fullscreen"><i class="fa fa-arrows"></i>Tela cheia</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-lock"></i>Bloquear</a>
                        </li>
                        <li>
                            <a href="#static" data-toggle="modal"><i class="fa fa-key"></i>Sair</a>
                        </li>
                    </ul>
                </li>
                <!-- FIM USUARIO LOGIN DROPDOWN -->
            </ul>
            <!-- FIM TOP NAVEGAÇÃO MENU -->
        </div>
        <!-- FIM TOP NAVEGAÇÃO BAR -->
    </div>
    <!-- FIM HEADER -->
    <div class="clearfix">
    </div>
    <!-- INICIO CONTAINER CORPO-->

    <div class="page-container">

        <!-- INICIO SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
                    <li class="sidebar-toggler-wrapper">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler hidden-phone">
                        </div>
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <li class="sidebar-search-wrapper">
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    </li>
                    <li class="start active">
                        <a href="#/">
                            <i class="fa fa-home"></i>
                            <span class="title">
                                INICIO
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-desktop"></i>
                            <span class="title">ADMINISTRAÇÃO</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;"><i class="clip-home"></i>&nbsp;Condomínio<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#/Condominio/Cadastro"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#/Condominio/Alterar"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#/Condominio/Pesquisa"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-home-3"></i>&nbsp;Unidade<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-user-6"></i>&nbsp;Moradores<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-user-3"></i>&nbsp;Usuarios<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-user-5"></i>&nbsp;Representantes<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-users"></i>&nbsp;Pessoa/ Locatário/ Proprietário<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-cart"></i>&nbsp;Clientes<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-stack-empty"></i>&nbsp;Grupos de Rateio<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="clip-reddit"></i>&nbsp;Pet<br />
                                    (Registro de animais)<span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="clip-banknote"></i>
                            <span class="title">FINANCEIRO</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <i class="clip-pencil"></i>&nbsp;Lançamentos de contas<br />
                                    a receber<span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="clip-pencil"></i>&nbsp;Lançamentos de contas<br />
                                    a pagar<span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-clipboard"></i>&nbsp;Plano de conta<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-credit"></i>&nbsp;Gás e Àgua<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-user-5"></i>&nbsp;Fornecedores<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                                    <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                                    <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="clip-file-check"></i>&nbsp;Baixas/Cobranças<span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#">Baixa de contas a receber</a></li>
                                    <li><a href="#">Baixa de contas a pagar</a></li>
                                    <li><a href="#">Recibos/Boletos</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-gift"></i>
                            <span class="title">UTILITÁRIOS</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="clip-pie"></i>&nbsp;Calendário do condomínio</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="clip-bubble"></i>&nbsp;Informativos </span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="clip-book"></i>&nbsp;Livro de ocorrência </span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="clip-phone"></i>&nbsp;Telefones úteis </span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="clip-bubbles-2"></i>
                            <span class="title">
                                CHAT
                            </span>
                            <span class="selected"></span>
                        </a>

                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="clip-clipboard"></i>
                            <span class="title">RELATÓRIOS</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;1</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;2</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;3</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;4 </span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="clip-bars"></i>
                            <span class="title">GRÁFICOS E ESTATÍSTICAS</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;1</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;2</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;3</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;4 </span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="clip-folder"></i>
                            <span class="title">CENTRAL DO CLIENTE</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;1</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;2</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;3</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;4 </span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="clip-wrench-2"></i>
                            <span class="title">CONFIGURAÇÕES</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;1</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;2</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;3</span></a>
                            </li>
                            <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                                <a href="#"><span class="title"><i class="#"></i>&nbsp;4 </span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#/logout">
                            <i class="clip-exit"></i>
                            <span class="title">
                                SAIR
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>

        <!-- FIM SIDEBAR -->
        <!-- INICIO CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- INICIO AMOSTRA PORTLET formulário de configuração MODAL-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- FIM AMOSTRA PORTLET formulário de configuração MODAL-->
                <!-- INICIO PAGINA HEADER-->
                <!-- MODAIS-->
                <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display: none;">
                    <div class="modal-body">
                        <p>
                            Deseja realmente sair so sistema?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a data-dismiss="modal" href="#" class="btn btn-default">Não</a>


                        <a id="BtnSairdoSistema" data-dismiss="modal" href="#/logout" class="btn btn-primary">
                            Sim
                        </a>
                    </div>
                </div>
                <!-- FIM MODAIS-->
                <!--<asp:ContentPlaceHolder ID="titulo" runat="server">
                </asp:ContentPlaceHolder>-->
                <!-- FIM PAGINA HEADER-->
                <!-- INICIO PAGINA CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        <div ng-view>
                        </div>

                    </div>
                </div>
                <!-- FIM PAGINA CONTENT-->
            </div>
        </div>
        <!-- FIM CONTENT -->
    </div>
    <!-- FIM CONTAINER -->
    <!-- INICIO FOOTER -->
    <div class="footer">
        <div class="footer-inner">
            2014 &copy; SGCC Sistema de Gerenciamento de Condomínio.
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="fa fa-angle-up"></i>
            </span>
        </div>
    </div>
    <!-- FIM FOOTER -->
    <!-- INICIO JAVASCRIPTS((javascripts carga no fundo, isso vai reduzir o tempo de carregamento da página) ) -->
    <!-- PLUGINS DOMINIO -->
    <script src="assets/plugins/angularjs/angular.min.js"></script>
    <script src="assets/plugins/angularjs/angular-route.min.js"></script>
    <script src="app/AppSistema.js"></script>
    <script src="app/Rotas.js"></script>
    <script src="app/Configuracao.js"></script>
    <script src="assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANTE! Load jquery-ui-1.10.3.custom.min.js  antes bootstrap.min.js para corrigir conflitos dica de bootstrap com jQuery UI dica  -->
    <script src="assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="assets/toast/scripts/toastr.min.js"></script>
    <!-- FIM DOMINIO PLUGINS -->
    <!--  PLUGINS EXTRA PAGINA -->
    <script type="text/javascript" src="assets/plugins/jquery.pulsate.min.js"></script>
    <script src="assets/scripts/core/app.js"></script>
    <script src="assets/scripts/core/Login/login.js"></script>
    <script src="assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="assets/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>
    <script src="assets/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
    <script src="assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    <script src="assets/scripts/custom/ui-modals.js"></script>
    <script src="assets/scripts/custom/ui-animation.js"></script>
    <script src="assets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="assets/scripts/custom/form-calendar.js"></script>
    <script src="assets/scripts/custom/calendar.js"></script>
    <script type="text/javascript" src="assets/plugins/fuelux/js/spinner.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.input-ip-address-control-1.0.min.js"></script>
    <!-- FIM PLUGINS EXTRA PAGINA -->
    <!--CONTROLES ANGULARJS SISTEMA CONDOMINIO CONTROLES-->
    <script src="app/Controles/home/home-controler.js"></script>
    <script src="app/Controles/Login/login-controller.js"></script>
    <script src="app/Controles/Login/logout-controller.js"></script>
    <!--FIM CONTROLES ANGULARJS SISTEMA CONDOMINIO CONTROLES-->
    <!--CONTROLES ANGULARJS SISTEMA CONDOMINIO FACTORYS-->
    <script src="app/Factores/account-factory.js"></script>
    <!--FIM CONTROLES ANGULARJS SISTEMA CONDOMINIO FACTORYS-->



    <script>
        $(window).load(function () {
            $('#imgcarregando').fadeOut("slow");
           $('#carregando').fadeOut("slow");
        });
        jQuery(document).ready(function () {
            App.init();
            UIModals.init();
            Animation.init();
            Calendar.init();
            ComponentsFormTools.init();
        });
    </script>
    <!-- FIM JAVASCRIPTS -->

</body>
</html>
