﻿<!--<script src="assets/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
            <script src="assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
            <script src="assets/scripts/custom/ui-modals.js"></script>
            <script src="assets/scripts/custom/ui-animation.js"></script>
            <script src="assets/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
            <script src="assets/scripts/custom/form-calendar.js"></script>
            <script type="text/javascript" src="assets/plugins/fuelux/js/spinner.min.js"></script>
            <script type="text/javascript" src="assets/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
            <script type="text/javascript" src="assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
            <script type="text/javascript" src="assets/plugins/jquery.input-ip-address-control-1.0.min.js"></script>
            <script src="assets/plugins/jquery.pwstrength.bootstrap/src/pwstrength.js" type="text/javascript"></script>
            <script src="assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
            <script src="assets/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript"></script>
            <script src="assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
            <script src="assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
            <script src="assets/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
            <script src="assets/plugins/typeahead/typeahead.min.js" type="text/javascript"></script>
            <script src="assets/scripts/custom/components-form-tools.js"></script>-->
<!--<script src="assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>-->
<!--<script src="assets/scripts/custom/customizada.js"></script>
<script src="assets/scripts/custom/jquery.mask.min.js"></script>
<script src="assets/scripts/custom/jquery.maskedinput.js"></script>-->
