﻿
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler hidden-phone">
                </div>
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="sidebar-search-wrapper">
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="start active">
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="title">
                        INICIO
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span class="title">ADMINISTRAÇÃO</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;"><i class="clip-home"></i>&nbsp;Condomínio<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-home-3"></i>&nbsp;Unidade<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-user-6"></i>&nbsp;Moradores<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-user-3"></i>&nbsp;Usuarios<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-user-5"></i>&nbsp;Representantes<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-users"></i>&nbsp;Pessoa/ Locatário/ Proprietário<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-cart"></i>&nbsp;Clientes<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-stack-empty"></i>&nbsp;Grupos de Rateio<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="clip-reddit"></i>&nbsp;Pet<br />
                            (Registro de animais)<span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="clip-banknote"></i>
                    <span class="title">FINANCEIRO</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="clip-pencil"></i>&nbsp;Lançamentos de contas<br />
                            a receber<span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="clip-pencil"></i>&nbsp;Lançamentos de contas<br />
                            a pagar<span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-clipboard"></i>&nbsp;Plano de conta<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-credit"></i>&nbsp;Gás e Àgua<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-user-5"></i>&nbsp;Fornecedores<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-plus"></i>Cadastro</a></li>
                            <li><a href="#"><i class="fa fa-times-circle"></i>Alteração</a></li>
                            <li><a href="#"><i class="fa  fa-search"></i>Pesquisa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="clip-file-check"></i>&nbsp;Baixas/Cobranças<span class="arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#">Baixa de contas a receber</a></li>
                            <li><a href="#">Baixa de contas a pagar</a></li>
                            <li><a href="#">Recibos/Boletos</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-gift"></i>
                    <span class="title">UTILITÁRIOS</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="clip-pie"></i>&nbsp;Calendário do condomínio</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="clip-bubble"></i>&nbsp;Informativos </span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="clip-book"></i>&nbsp;Livro de ocorrência </span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="clip-phone"></i>&nbsp;Telefones úteis </span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="clip-bubbles-2"></i>
                    <span class="title">
                        CHAT
                    </span>
                    <span class="selected"></span>
                </a>

            </li>
            <li>
                <a href="javascript:;">
                    <i class="clip-clipboard"></i>
                    <span class="title">RELATÓRIOS</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;1</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;2</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;3</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;4 </span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="clip-bars"></i>
                    <span class="title">GRÁFICOS E ESTATÍSTICAS</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;1</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;2</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;3</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;4 </span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="clip-folder"></i>
                    <span class="title">CENTRAL DO CLIENTE</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;1</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;2</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;3</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;4 </span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="clip-wrench-2"></i>
                    <span class="title">CONFIGURAÇÕES</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;1</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;2</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;3</span></a>
                    </li>
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="#"><span class="title"><i class="#"></i>&nbsp;4 </span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="clip-exit"></i>
                    <span class="title">
                        SAIR
                    </span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>