﻿<div class="login" style="padding-top: 0px !important;">
    <div class="logo">
        <a href="#">
            <img src="assets/img/logoatual.png" alt="" style="width:130px;height:80px;" />
            <br /><span style="color:black; font-size:18px;border:dashed;background-color: rgba(255, 255, 255, 0.7);">Sistema de Gerenciamento de Condomínio</span>
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" ng-controller="LoginController" ng-submit="submit()">
            <h3 class="form-title">Efetuar Login:</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultado">
                    Campos Obrigatórios não Preenchidos.
                </span>
            </div>
            <div class="alert alert-warning display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultado2">
                    Não foi possivel efetuar login. Verifique se os dados estão corretos
                </span>
            </div>
            <div class="alert alert-info display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultado3">
                    Não foi possivel efetuar login. Verifique o codigo da empresa
                </span>
            </div>
            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultado4">
                    Login efetuado, aguarde...
                </span>
            </div>
            <div class="alert alert-link display-hide">
                <button class="close" data-close="alert"></button>
                <span id="txtresultadoerro" style="color:white !important;">
                </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Empresa</label>
                <div class="input-icon">
                    <i class="fa fa-home"></i>
                    <input class="form-control placeholder-no-fix" type="text" ng-model="login.empresa" id="txtcodigocondominio" placeholder="Empresa" name="Empresa" required />
                </div>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" ng-model="login.email" id="txtusuario" placeholder="Usúario" name="username" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>

                    <input class="form-control placeholder-no-fix" type="password" ng-model="login.password" id="txtsenha" placeholder="Senha" name="password" required />
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <input type="checkbox" name="remember" value="1" />
                    Relembra-me
                </label>
                <button type="submit" class="btn blue pull-right">
                    Login <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            <div class="forget-password">
                <h4>Esqueceu a Senha ?</h4>
                <p>

                    <a href="javascript:;" style="color:white !important;" id="forget-password">
                        Clique aqui
                    </a>
                    para receber uma nova senha.
                </p>
            </div>
            <div class="create-account">
                <p>
                    Não possuir uma conta?&nbsp;
                    <a href="#" id="register-btns" style="color:white !important;">
                        adquira agora!
                    </a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="" method="post">
            <h3>Esqueceu a Senha ?</h3>
            <p>
                Entre com código da empresa e email para receber uma nova senha.
            </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-home"></i>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="Empresa" name="Empresa" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                    <i class="m-icon-swapleft"></i>Voltar
                </button>
                <button type="submit" class="btn blue pull-right">
                    Enviar <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <!-- END REGISTRATION FORM -->
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        <span style="color:black;background-color: rgba(255, 255, 255, 0.7);"> 2014 &copy;SGCC - Sistema de Gerenciamento de Condomínio.</span>
    </div>
</div>
