﻿ <!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-users pulse"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span id="lbnquantidadeusuarios" runat="server"></span>
                </div>
                <div class="desc">
                    Total de Usuários
                </div>
            </div>
            <a class="more" href="#">
                Acessar usuários <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="clip-users pulse"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span id="lbnquantidademoradores" runat="server"></span>
                </div>
                <div class="desc">
                    Total de Moradores
                </div>
            </div>
            <a class="more" href="#">
                Acessar moradores <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-home pulse"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span id="lbnquantidadecondominios" runat="server"></span>
                </div>
                <div class="desc">
                    Condomínios
                </div>
            </div>
            <a class="more" href="#">
                Acessar Condomínios <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat yellow">
            <div class="visual">
                <i class="fa fa-money pulse"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span id="lbnsaldocontacondominio" runat="server"></span>
                </div>
                <div class="desc">
                    Balanço
                </div>
            </div>
            <a class="more" href="#">
                Visualizar <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="clip-add"></i>Entradas - Regime competência
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Cobranças recebidas</th>
                                <th>Total recebido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#">
                                        Setembro<br />
                                        <div class="progress progress-striped active progress-xs">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </a>

                                </td>
                                <td>$45</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-6">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="clip-minus"></i> Saídas - Regime vencimento
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>

                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Despesas pagas</th>
                                <th>Total pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#">
                                        Setembro<br />
                                        <div class="progress progress-striped active progress-xs">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </a>

                                </td>
                                <td>$45</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>
</div>

<div class="row-fluid ">
    <div class="span6">
        <!-- BEGIN ACCORDION PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>Accordions
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="accordion" id="accordion1">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">
                                <i class="icon-angle-left"></i>
                                Collapsible Group Item #1
                            </a>
                        </div>
                        <div id="collapse_1" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                </p>
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2">
                                <i class="icon-angle-left"></i>
                                Collapsible Group Item #2
                            </a>
                        </div>
                        <div id="collapse_2" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                </p>
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </p>
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                </p>
                                <p>
                                    <a class="btn blue" href="ui_tabs_accordions.html#collapse_2" target="_blank">Activate this section via URL</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3">
                                <i class="icon-angle-left"></i>
                                Collapsible Group Item #3
                            </a>
                        </div>
                        <div id="collapse_3" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                                </p>
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                </p>
                                <p>
                                    <a class="btn green" href="ui_tabs_accordions.html#collapse_3" target="_blank">Activate this section via URL</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4">
                                <i class="icon-angle-left"></i>
                                Collapsible Group Item #4
                            </a>
                        </div>
                        <div id="collapse_4" class="accordion-body collapse">
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                            </p>
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                            </p>
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                            </p>
                            <p>
                                <a class="btn red" href="ui_tabs_accordions.html#collapse_4" target="_blank">Activate this section via URL</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ACCORDION PORTLET-->
    </div>
</div>
















<!--<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue calendar">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>Calendário
                </div>
            </div>
            <div class="portlet-body light-grey">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                         BEGIN DRAGGABLE EVENTS PORTLET
                        <h3 class="event-form-title">Eventos</h3>
                        <div id="external-events">
                            <div id="event-categories">
                                <div class="event-category label-green" data-class="label-green">
                                    <i class="fa fa-move"></i>
                                    Reserva de área comum
                                </div>
                                <div class="event-category label-default" data-class="label-default">
                                    <i class="fa fa-move"></i>
                                    Informativos
                                </div>
                                <div class="event-category label-purple" data-class="label-purple">
                                    <i class="fa fa-move"></i>
                                    Visitas
                                </div>
                                <div class="event-category label-orange" data-class="label-orange">
                                    <i class="fa fa-move"></i>
                                    Coletas
                                </div>
                                <div class="event-category label-success" data-class="label-success">
                                    <i class="fa fa-move"></i>
                                    Ocorrência
                                </div>
                                <div class="event-category label-teal" data-class="label-teal">
                                    <i class="fa fa-move"></i>
                                    Balancete
                                </div>
                                <div class="event-category label-beige" data-class="label-beige">
                                    <i class="fa fa-move"></i>
                                    Outros
                                </div>
                            </div>
                        </div>
                        <!-- END DRAGGABLE EVENTS PORTLET
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div id="calendar" class="has-toolbar">
                        </div>
                    </div>
                </div>
                <!-- END CALENDAR PORTLET
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT
<div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">Calendario</h4>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-light-grey">
            Fechar
        </button>
        <button type="button" class="btn btn-danger remove-event no-display">
            <i class='fa fa-trash-o'></i>Deletar evento
        </button>
        <button type='submit' class='btn btn-success save-event'>
            <i class='fa fa-check'></i>Salva
        </button>
    </div>
</div>-->
